.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.modal-content {
	background-color: #fefefe;
	margin: 4% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%; 
	height: 85%;
}

.close {
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
}

i.online {
  color: #01DF01;
}

i.not-online {
  color: #FF0000;
}

.help {
	position: fixed;
	top: 700px;
	right: 40px;
	color: #D3D3D3;
	float: right;
}

.help:hover {
	color: #2F4F4F;
}