<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sort Photos</title>

	<link rel="stylesheet" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css"> 
    <link rel="stylesheet" href="css/gallery-grid.css"> <!-- может быть без этого ? -->
    <link rel="stylesheet" href="css/baguetteBox.min.css">
    
	<script src="js/gallery-grid.js"></script>
    <script src="js/jquery.min.js"></script>	
    <script src="js/bootstrap.min.js"></script>

	<script>
		$(document).ready(function(e){
		$("img.checked").click(function(){
		$(this).toggleClass("checking");
		});
		});
	</script>

</head>
<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
  		      <li class="nav-item">
		        <a class="navbar-brand" href="main.html">Folder viewer</a>
		      </li>		      
		      <li class="nav-item active">
		        <a class="nav-link" href="main.html">Main<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Done</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="login.html">Exit</a>
		      </li>
		    </ul>
		  </div>
		</nav>

		<div class="normalPadding">
		<div class="container gallery-container">		    
		    <div class="tz-gallery">
			    <p class="page-description text-center">Images 1</p>
		        <div class="row">

		            <div class="col-sm-4 col-md-2">
                    <a class="lightbox" href="images/park.jpg">   
                        <label>
                            <img src="images/park.jpg" class="img-responsive img-thumbnail checked" alt="Park" /><input type="checkbox" name="img1" value="num1" class="hidden" autocomplete="off" />
                        </label>
                    </a>
                    </div>
		            <div class="col-sm-4 col-md-2">
	            	<a class="lightbox" href="images/Park.jpg">   
		                <label>
							<img src="images/Park.jpg" class="img-responsive img-thumbnail checked" alt="Park" /><input type="checkbox" name="img1" value="num1" class="hidden" autocomplete="off" />
						</label>
					</a>
		            </div>

		            <div class="col-sm-4 col-md-2">
		                <a class="lightbox" href="images/Bridge.jpg">
	                	<label>
							<img src="images/Bridge.jpg" alt="Bridge" class="img-responsive img-thumbnail checked" alt="Bridge" /><input type="checkbox" name="img2" value="num2" class="hidden" autocomplete="off" />
						</label>
		                </a>
		            </div>
		            <div class="col-sm-4 col-md-2">
		                <a class="lightbox" href="images/tunnel.jpg">
	                	<label>
							<img src="images/tunnel.jpg" alt="Tunnel" class="img-responsive img-thumbnail checked" alt="Tunnel" /><input type="checkbox" name="img3" value="num3" class="hidden" autocomplete="off" />
						</label>
		                </a>
		            </div>
		            <div class="col-sm-4 col-md-2">
		                <a class="lightbox" href="images/coast.jpg">
	                	<label>
							<img src="images/coast.jpg" alt="Coast" class="img-responsive img-thumbnail checked" alt="Coast" /><input type="checkbox" name="img4" value="num4" class="hidden" autocomplete="off" />
						</label>
		                </a>
		            </div>
		            <div class="col-sm-4 col-md-2">
		                <a class="lightbox" href="images/rails.jpg">
	                	<label>
							<img src="images/rails.jpg" alt="Rails" class="img-responsive img-thumbnail checked" alt="Rails" /><input type="checkbox" name="img5" value="num5" class="hidden" autocomplete="off" />
						</label>
		                </a>
		            </div>
		            <div class="col-sm-4 col-md-2">
		                <a class="lightbox" href="images/traffic.jpg">
	                	<label>
							<img src="images/traffic.jpg" alt="Traffic" class="img-responsive img-thumbnail checked" alt="Traffic" /><input type="checkbox" name="img6" value="num6" class="hidden" autocomplete="off" />
						</label>
		                </a>
		            </div>
		            <div class="col-sm-4 col-md-2">
		                <a class="lightbox" href="images/rocks.jpg">
		                <label>
							<img src="images/rocks.jpg" alt="Rocks" class="img-responsive img-thumbnail checked" alt="Rocks" /><input type="checkbox" name="img7" value="num7" class="hidden" autocomplete="off" />
						</label>
		                </a>
		            </div>
		            <div class="col-sm-4 col-md-2">
		                <a class="lightbox" href="images/benches.jpg">
		                <label>
							<img src="images/benches.jpg" alt="Benches" class="img-responsive img-thumbnail checked" alt="Benches" /><input type="checkbox" name="img8" value="num8" class="hidden" autocomplete="off" />
						</label>
		                </a>
		            </div>
		            <div class="col-sm-4 col-md-2">
		                <a class="lightbox" href="images/sky.jpg">
		                <label>
							<img src="images/sky.jpg" alt="Sky" class="img-responsive img-thumbnail checked" alt="Sky" /><input type="checkbox" name="img9" value="num9" class="hidden" autocomplete="off" />
						</label>
		                </a>
		            </div>
		    </div>
		    <form>
		    <div class="funkyradio" id="funkyradio2">
		 	    <div class="row">
		 	     	<div class="col-sm-4 col-md-2">
				        <div class="funkyradio-success">
				            <input type="radio" name="radio" id="radio1" />
				            <label for="radio1">Normal</label>
				        </div>
				    </div>

				    <div class="col-sm-4 col-md-2">
				        <div class="funkyradio-success">
				            <input type="radio" name="radio" id="radio2" />
				            <label for="radio2">Label</label>
				        </div>
			    	</div>

			    	<div class="col-sm-4 col-md-2">
				        <div class="funkyradio-success">
				            <input type="radio" name="radio" id="radio3" />
				            <label for="radio3">Extra</label>
				        </div>
				    </div>

				    <div class="col-sm-4 col-md-2">
				        <div class="funkyradio-success">
				            <input type="radio" name="radio" id="radio4" />
				            <label for="radio4">Blurry</label>
				        </div>
				    </div>

				    <div class="col-sm-4 col-md-2">
				        <div class="funkyradio-success">
				            <input type="radio" name="radio" id="radio5" />
				            <label for="radio5">Multiple</label>
				        </div>
				    </div>
				    <div class="col-sm-4 col-md-2">
				        <div class="funkyradio-success">
				            <input type="radio" name="radio" id="radio6" />
				            <label for="radio6">Nonperson</label>
				        </div>
			    	</div>
			    </div>
			</div>
			</form>
		        <hr>
		       	<p class="page-description text-center">Images 2</p>

		        <div class="row">
		            <div class="col-sm-4 col-md-2">
		                <a class="lightbox" href="51035828175@N01_identity_3/6182420980_1.jpg">
		                <label>
							<img src="51035828175@N01_identity_3/6182420980_1.jpg" class="img-responsive img-thumbnail checked" alt="Pers1" /><input type="checkbox" name="img10" value="num10" class="hidden" autocomplete="off" />
						</label>
		                </a>
		            </div>

		            <div class="col-sm-4 col-md-2">
		                <a class="lightbox" href="51035828175@N01_identity_3/7185057668_1.jpg">
		                <label>
							<img src="51035828175@N01_identity_3/7185057668_1.jpg" class="img-responsive img-thumbnail checked" alt="Pers2" /><input type="checkbox" name="img11" value="num11" class="hidden" autocomplete="off" />
						</label>
		                </a>
		            </div>
		            <div class="col-sm-4 col-md-2">
		                <a class="lightbox" href="51035828175@N01_identity_3/10282597526_0.jpg">
		                <label>
							<img src="51035828175@N01_identity_3/10282597526_0.jpg" class="img-responsive img-thumbnail checked" alt="Pers3" /><input type="checkbox" name="img12" value="num12" class="hidden" autocomplete="off" />
						</label>
		                </a>
		            </div>
		            <div class="col-sm-4 col-md-2">
		                <a class="lightbox" href="images/rails.jpg">
	                	<label>
							<img src="images/rails.jpg" alt="Rails" class="img-responsive img-thumbnail checked" alt="Rails" /><input type="checkbox" name="img5" value="num5" class="hidden" autocomplete="off" />
						</label>
		                </a>
		            </div>
		            <div class="col-sm-4 col-md-2">
		                <a class="lightbox" href="images/traffic.jpg">
	                	<label>
							<img src="images/traffic.jpg" alt="Traffic" class="img-responsive img-thumbnail checked" alt="Traffic" /><input type="checkbox" name="img6" value="num6" class="hidden" autocomplete="off" />
						</label>
		                </a>
		            </div>
		            <div class="col-sm-4 col-md-2">
		                <a class="lightbox" href="images/rocks.jpg">
		                <label>
							<img src="images/rocks.jpg" alt="Rocks" class="img-responsive img-thumbnail checked" alt="Rocks" /><input type="checkbox" name="img7" value="num7" class="hidden" autocomplete="off" />
						</label>
		                </a>
		            </div>
		            <div class="col-sm-4 col-md-2">
		                <a class="lightbox" href="images/benches.jpg">
		                <label>
							<img src="images/benches.jpg" alt="Benches" class="img-responsive img-thumbnail checked" alt="Benches" /><input type="checkbox" name="img8" value="num8" class="hidden" autocomplete="off" />
						</label>
		                </a>
		            </div>
		            <div class="col-sm-4 col-md-2">
		                <a class="lightbox" href="images/sky.jpg">
		                <label>
							<img src="images/sky.jpg" alt="Sky" class="img-responsive img-thumbnail checked" alt="Sky" /><input type="checkbox" name="img9" value="num9" class="hidden" autocomplete="off" />
						</label>
		                </a>
		            </div>
		        </div>

		    <form>
		    <div class="funkyradio" id="funkyradio2">
		 	    <div class="row">
		 	     	<div class="col-sm-4 col-md-2">
				        <div class="funkyradio-success">
				            <input type="radio" name="radio" id="radio7" />
				            <label for="radio7">Normal</label>
				        </div>
				    </div>

				    <div class="col-sm-4 col-md-2">
				        <div class="funkyradio-success">
				            <input type="radio" name="radio" id="radio8" />
				            <label for="radio8">Label</label>
				        </div>
			    	</div>

			    	<div class="col-sm-4 col-md-2">
				        <div class="funkyradio-success">
				            <input type="radio" name="radio" id="radio9" />
				            <label for="radio9">Extra</label>
				        </div>
				    </div>

				    <div class="col-sm-4 col-md-2">
				        <div class="funkyradio-success">
				            <input type="radio" name="radio" id="radio10" />
				            <label for="radio10">Blurry</label>
				        </div>
				    </div>

				    <div class="col-sm-4 col-md-2">
				        <div class="funkyradio-success">
				            <input type="radio" name="radio" id="radio11" />
				            <label for="radio11">Multiple</label>
				        </div>
				    </div>
				    <div class="col-sm-4 col-md-2">
				        <div class="funkyradio-success">
				            <input type="radio" name="radio" id="radio12" />
				            <label for="radio12">Nonperson</label>
				        </div>
			    	</div>
			    </div>
			</div>
			</form>

			<hr>
			
			<div class="row">
                <div class="col-md-12 text-center">
                <form class="form-horizontal down">		
					 <input type="button" value="Next" class="btn btn-default" onclick="loginBut()"/>
					 <script>
						function loginBut()
						{
						     window.location = "main.html"
						}
					</script>
				</form>
  	           </div>
            </div>

	</div>
	</div>
	</div>


    <footer id="footer" class="dark-wrapper">
        <div class="container inner">
            <div class="row">
                <div class="col-sm-4">
                    2018
                    <br/>Theme By <div class="themeBy">Bsuir-EVM</div>
                </div>
            </div>
        </div>   
    </footer>

	<script>
	    baguetteBox.run('.tz-gallery');
	</script>
</body>
</html>