i.online {
  color: #01DF01;
}

i.not-online {
  color: #FF0000;
}

.all-stat {
  color: #FF0000;
}

.footerPadding {
  padding-top: 10px; 
}

.normalPaddingStatPage {
    padding-top: 30px;
}

.section .section-inner {
  background: #fff;
  padding-top: 30px;
  padding-left: 10px;
}
.section .heading {
  margin-top: 0;
  margin-bottom: 20px;
  color: #545e69;
  font-size: 24px;
}
.section .content .more-link .fa {
  margin-right: 5px;
  font-size: 14px;
}

.very-good {
  color: #DF0101;
}

.nice {
  color: #04B431;
}

.not-bad {
  color: #0101DF;
}

.well {
  color: #FF8000;
}

progress
{
  text-align:center;
  height: 1.5em;
  width: 100%;

  -webkit-appearance: none;
  border: none;
}

progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  vertical-align: 0
}

progress::-webkit-progress-bar {
  background-color: #c9c9c9;
}

progress::-webkit-progress-value {
  background-color: #7cc4ff;
}

progress::-moz-progress-bar
{
  background-color: #7cc4ff;
}