<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Sort Photos</title>

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css"> 
   	<link rel="stylesheet" href="css/LogIn.css">
   	<link rel="stylesheet" href="css/font-awesome.min.css">
   	
</head>
<body>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
	    	  <li class="nav-item active">
		        <a class="navbar-brand" href="#">Folder viewer</a>
		      </li>
		    </ul>
		  </div>
	</nav>

	<div class="normalPadding">
	<div class="container">
		 <div class="row justify-content-md-center">
		 <div class="col-md-offset-3 col-md-6">
			 <form class="form-horizontal">
				 <span class="heading">Log in</span>
				 <div class="form-group">
					 <input type="email" class="form-control" id="inputEmail" placeholder="E-mail">
					 <i class="fa fa-user"></i>
				 </div>
				 <div class="form-group help">
					 <input type="password" class="form-control" id="inputPassword" placeholder="Password">
					 <i class="fa fa-lock"></i>
				 </div>
				 <div class="form-group">
					 <div class="main-checkbox">
						 <input type="checkbox" value="none" id="checkbox1" name="check"/>
						 <label for="checkbox1"></label>
					 </div>
					 <span class="text">Remember me</span>
					 <input type="button" value="Log In" class="btn btn-default" onclick="loginBut()"/>
					 <script>
						function loginBut()
						{
						     window.location = "main.html"
						}
					</script>
				 </div>
			 </form>
		 </div>

		 </div><!-- /.row -->
	</div><!-- /.container -->	
	</div>

	    <footer id="footer" class="dark-wrapper">
	        <div class="container inner">
	            <div class="row">
	                <div class="col-sm-4">
	                    2018
	                    <br/>Theme By <div class="themeBy">Bsuir-EVM</div>
	                </div>
	            </div>
	        </div>
	    </footer>

</body>
</html>